<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-8 col-md-8">
      	<%= render "/layouts/alerts" %>
         <div class="jumbotron custum-jumbotron">
            <% if current_user.present? %>
              
                <% if current_user.image.present? %>
                  <%= image_tag current_user.image.url(:small),class: "media-object-small" %>
                <% else %>
                  <%= image_tag "index.jpeg",class: "media-object-small" %>
                <% end %>

              <h1 style="display: inline;">Hello, <%= "#{current_user.name}" %></h1>
            <% end %>
            <hr />

            <% if current_user.present? %>
            
            <% post = Post.new %>
            <%= form_with(model: post, local: true) do |f| %>
              <fieldset style="text-align: center;">
                <div class="form-group">
                  <%= f.text_area :description,:placeholder=>"Description",:class=>"form-control",:minlength=>10,maxlength: 250 %>
                </div>
                <div class="form-group">
                  <%= f.file_field :image %>
                </div>
                <%= f.hidden_field :user_id,:value=>current_user.id %>
                <%#= f.hidden_field :another_user_id,:value=>@player.id %>
                <%= f.submit "Post",:class=>"btn btn-primary btn-sign-in" %>
              </fieldset>
            <% end %>
          <% end %>
  
          <hr>
          <br />
          <% if current_user.present? %>
            <% user_ids = current_user.follows_by_type('User').map{|e| e.followable_id} %>
            <% user_ids << current_user.id if current_user.present? %>
            <% Post.where(:user_id => user_ids).order('created_at desc').all.each do |post| %>
              <div class="media">
                 <a class="pull-left" href="#">
                  <% if post.user.image.present? %>
                    <%= image_tag post.user.image.url(:small),class: "media-object" %>
                  <% else %>
                    <%= image_tag "index.jpeg",class: "media-object" %>
                  <% end %>
                 </a>
                 <div class="media-body">
                    <% if post.another_user_id.present? %>
                      <% another_user = User.find_by_id(post.another_user_id) %>
                      <h4 class="media-heading"><%#= link_to post.title,post_path(post) %> 
                        <span><%= post.user.name %></span><%= link_to user_path(post.user.id) do %>
                          <span><%= " (@"+"#{ (post.user.user_id)}"+")"%></span>  
                        <% end %> <i class="fa fa-caret-right"></i> <%= link_to another_user.name,user_path(another_user) %> </span></h4>
                    <% elsif post.player_id.present? %>
                      <% another_user = Player.find_by_id(post.player_id) %>
                      <h4 class="media-heading"><span><%= post.user.name %></span> <%= link_to user_path(post.user.id) do %>
                          <%= " (@"+"#{ (post.user.user_id)}"+")"%></span>  
                        <% end %> 
                        <i class="fa fa-caret-right"></i> <%= link_to another_user.name,player_path(another_user) %> </span></h4>
                    <% else %>
                      <h4 class="media-heading"><span><%= post.user.name %></span><%= link_to user_path(post.user.id) do %>
                          <span><%= " (@"+"#{ (post.user.user_id)}"+")"%></span>  
                        <% end %> </h4> 
                    <% end %>
                    <%# byebug %>
                    <p>
                      <% post.description.split(" ").each do |word| %>
                        <% if word.include? "@" %>
                          <% vp = word[1..-1] %>
                          <% user = User.where('lower(user_id) =?',vp.downcase).first %>
                          <% if user %>
                            <%= link_to user_path(user) do %><span class="tags">@<%= user.user_id %></span> <% end %>
                          <% else %>
                            <% player = Player.where('lower(username) =?',vp.downcase).first %>
                            <% if player %>
                              <%= link_to player_path(player) do %><span class="tags">@<%= player.username %></span> <% end %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= word %>
                        <% end %>
                      <% end %>
                      
                    </p>
                    <ul class="list-inline list-unstyled">
                       <li><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at.to_date.strftime('%a %b %d') %> </span></li>
                       <li>|</li>
                       <span class="post_comment" id="<%= "#{post.id}" %>"><i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %> Comments</span>
                    </ul>
                 </div>
              </div>
              <div class="comments_section" id="<%= "comments_#{post.id}" %>">
                <%= render :partial => "/posts/comments", locals: {post: post} %>
              </div>
              <hr />
            <% end %>
          <% end %>
         </div>
      </div>
      <!--/span-->
      <%= render "/layouts/right_panel" %>
      <!--/span-->
   </div>
   <!--/row-->
</div>