<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-8 col-md-8">
        <%= render "/layouts/alerts" %>
        <div class="jumbotron custum-jumbotron">
          
          <div class="panel panel-info">
             <div class="panel-heading">
                <h3 class="panel-title">Notifications</h3>
             </div>
          </div>

          <% @tags.each do |tag| %>
            <% post = Post.where(:id=>tag.post_id).first %>
            <div class="media <%='unread' if tag.read == false %>">
               <a class="pull-left" href="#">
                <% if post.image.present? %>
                  <%= image_tag post.image.url(:small),class: "media-object" %>
                <% else %>
                  <%= image_tag "post.png",class: "media-object" %>
                <% end %>
               </a>
               <div class="media-body">
                  <h4 class="media-heading"><%#= post.title %><span class="pull-right">By <%= link_to post.user.name,post_path(post) %> (<%= post.user.user_id %>)</span></h4>
                  <p>
                    <% post.description.split(" ").each do |word| %>
                      <% if word.include? "@" %>
                        <% vp = word[1..-1] %>
                        <% user = User.where('lower(user_id) =?',vp.downcase).first %>
                        <% if user %>
                          <%= link_to user_path(user) do %><span class="tags">@<%= user.user_id %></span> <% end %>
                        <% else %>
                          <% player = Player.where('lower(username) =?',vp.downcase).first %>
                          <% if player %>
                            <%= link_to player_path(player) do %><span class="tags">@<%= player.username %></span> <% end %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= word %>
                      <% end %>
                    <% end %>
                  </p>
                  <ul class="list-inline list-unstyled">
                     <li><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at.to_date.strftime('%a %b %d') %> </span></li>
                     <li>|</li>
                     <span class="post_comment" id="<%= "#{post.id}" %>"><i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %> Comments</span>
                  </ul>
               </div>
            </div>
            <div class="comments_section" id="<%= "comments_#{post.id}" %>">
              <%= render :partial => "/posts/comments", locals: {post: post} %>
            </div>
            <hr /> 
          <% end %>

       </div>
      </div>
      <% update_notifications() %>
      <!--/span-->
      <%= render "/layouts/right_panel" %>
      <!--/span-->
   </div>
   <!--/row-->
</div>

