<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-6 col-md-6">
        <%= render "/layouts/alerts" %>
         <div class="jumbotron custum-jumbotron">
            <h1 class="center">Users</h1>
            <hr />
            <% @users.each do |player| %>
              <div class="media">
                 <a class="pull-left" href="#">
                  <% if player.image.present? %>
                    <%= image_tag player.image.url(:profile),class: "media-object" %>
                  <% else %>
                    <%= image_tag "index.jpg",class: "media-object" %>
                  <% end %>
                 </a>
                 <div class="media-body">
                    <h4 class="media-heading"><%= link_to player.name,user_path(player.id) %>
                    <% if current_user.following?(player) %>
                      <span class="pull-right"><%= link_to "UnFollow",remove_follow_path(player.id) %></span></h4>
                    <% else %>
                      <span class="pull-right"><%= link_to "Follow",add_follow_path(player.id) %></span></h4>
                    <% end %>
                 </div>
              </div>
              <hr />
            <% end %>
         </div>
      </div>
      <!--/span-->
      <div class="col-sm-3 col-md-3">
         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title">Who to follow</h3>
            </div>
            <div class="panel-body">
               <ul class="nav">
                  <% User.last(5).each do |user| %>
                    <li class=""><%= link_to user.name,user_path(user.id) %></li>
                  <% end %>
               </ul>
            </div>
         </div>
         <!-- panel -->
         <div class="panel panel-primary">
            <div class="panel-body">
               <ul class="nav ">
                  <li><a href="#">&copy; 2018 Nampit</a>
                  </li>
                  <li><a href="#">About</a>
                  </li>
                  <li><a href="#">Help</a>
                  </li>
                  <li><a href="#">Terms</a>
                  </li>
                  <li><a href="#">Privacy Policy</a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- panel -->
         <!--/sidebar-nav-fixed -->
      </div>
      <!--/span-->
   </div>
   <!--/row-->
</div>

