<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-6 col-md-6">
        <%= render "/layouts/alerts" %>
        <div class="jumbotron custum-jumbotron">
          <div class="media">
             <a class="media-left" href="#">
                <% if @user.image.present? %>
                  <%= image_tag @user.image.url(:profile),class: "media-object" %>
                <% else %>
                  <%= image_tag "index.jpeg",class: "media-object" %>
                <% end %>
             </a>
             <div class="media-body pt15">
                <h3 class="media-heading"><%= @user.name %> (<%= @user.user_id %>)</h3>
                <% if current_user.following?(@user) %>
                  <p><%= link_to "UnFollow",remove_follow_path(@user.id),:class=>"btn btn-success" %></a></p>
                <% else %>
                  <p><%= link_to "Follow",add_follow_path(@user.id),:class=>"btn btn-success" %></a></p>
                <% end %>
                
             </div>
          </div>
          <br />

          <% if current_user.present? %>
            <% post = Post.new %>
            <%= form_with(model: post, local: true) do |f| %>
              <fieldset style="text-align: center;">
                <!-- <div class="form-group">
                  <%= f.text_field :title, autofocus: true,:placeholder=>"Title",:class=>"form-control" %>
                </div> -->
                <div class="form-group">
                  <%= f.text_area :description,:placeholder=>"Description",:class=>"form-control",:minlength=>10,maxlength: 250 %>
                </div>
                <!-- div class="form-group">
                  <%= f.file_field :image %>
                </div> -->
                <%= f.hidden_field :user_id,:value=>current_user.id %>
                <%= f.hidden_field :another_user_id,:value=>@user.id %>
                <%= f.submit "Post",:class=>"btn btn-primary btn-sign-in" %>
              </fieldset>
            <% end %>
          <% end %>
  
          <hr>
          <br />
          
          <div class="panel panel-info">
             <div class="panel-heading">
                <h3 class="panel-title">Posts</h3>
             </div>
          </div>

          <% posts = Post.where('another_user_id =? and spam !=?',@user.id,true) %>
          <% Post.where(:user_id=>@user.id).all.each do |tag| %>
            <% post = Post.where(:id=>tag.id) %>
            <% posts = posts + post %>
          <% end %>

          <% post_ids = posts.pluck(:id) %>
          <% TagUser.where('tag_id =? and tag_type =?',"#{@user.id}","User").all.each do |tag| %>
            <% post = Post.where(:id=>tag.post_id) %>
            <% if !post_ids.include? tag.post_id %>
              <% posts = posts + post %>
            <% end %>
          <% end %>

          <% posts.sort_by { |h| h[:created_at] }.reverse!.each do |post| %>

          
            <div class="media">
               <a class="pull-left" href="#">
                <% if post.image.present? %>
                  <%= image_tag post.image.url(:profile),class: "media-object" %>
                <% else %>
                  <%= image_tag "post.png",class: "media-object" %>
                <% end %>
               </a>
               <div class="media-body">
                  <% if post.another_user_id.present? %>
                      <% another_user = User.find_by_id(post.another_user_id) %>
                      <h4 class="media-heading"><%#= link_to post.title,post_path(post) %> 
                        <span><%= post.user.name %></span><%= link_to user_path(post.user.id) do %>
                          <span><%= " (@"+"#{ (post.user.user_id)}"+")"%></span>  
                        <% end %> <i class="fa fa-caret-right"></i> <%= link_to another_user.name,user_path(another_user) %> </span></h4>
                    <% elsif post.player_id.present? %>
                      <% another_user = Player.find_by_id(post.player_id) %>
                      <h4 class="media-heading"><span><%= post.user.name %></span> <%= link_to user_path(post.user.id) do %>
                          <%= " (@"+"#{ (post.user.user_id)}"+")"%></span>  
                        <% end %> 
                        <i class="fa fa-caret-right"></i> <%= link_to another_user.name,player_path(another_user) %> </span></h4>
                    <% else %>
                      <h4 class="media-heading"><span><%= post.user.name %></span><%= link_to user_path(post.user.id) do %>
                          <span><%= " (@"+"#{ (post.user.user_id)}"+")"%></span>  
                        <% end %> </h4> 
                    <% end %>
                  <p>
                    <% post.description.split(" ").each do |word| %>
                      <% if word.include? "@" %>
                        <% vp = word[1..-1] %>
                        <% user = User.where('lower(user_id) =?',vp.downcase).first %>
                        <% if user %>
                          <%= link_to user_path(user) do %><span class="tags">@<%= user.user_id %></span> <% end %>
                        <% else %>
                          <% player = Player.where('lower(username) =?',vp.downcase).first %>
                          <% if player %>
                            <%= link_to player_path(player) do %><span class="tags">@<%= player.username %></span> <% end %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= word %>
                      <% end %>
                    <% end %>
                  </p>
                  <ul class="list-inline list-unstyled">
                     <li><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at.to_date.strftime('%a %b %d') %> </span></li>
                     <li>|</li>
                     <span class="post_comment" id="<%= "#{post.id}" %>"><i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %> Comments</span>
                  </ul>
               </div>
            </div>
            <div class="comments_section" id="<%= "comments_#{post.id}" %>">
              <%= render :partial => "/posts/comments", locals: {post: post} %>
            </div>
            <hr /> 
          <% end %>

          <% post_ids = posts.pluck(:id) %>
          <% TagUser.where('tag_id =? and tag_type =?',"#{@user.id}","User").order('created_at desc').all.each do |tag| %>
            <%# byebug %>
            <% post = Post.find_by_id(tag.post_id) %>
            <% if !post_ids.include? tag.post_id %>
              <div class="media">
                 <a class="pull-left" href="#">
                  <% if post.image.present? %>
                    <%= image_tag post.image.url(:profile),class: "media-object" %>
                  <% else %>
                    <%= image_tag "post.png",class: "media-object" %>
                  <% end %>
                 </a>
                 <div class="media-body">
                    <h4 class="media-heading"><%#= post.title %><span class="pull-right">By <%= link_to post.user.name,post_path(post) %></span></h4>
                    <p><%= post.description %> <% post.tags.each do |tag| %> <span class="tags"><%= tag.title %></span> <% end %>
                      <% post.tag_users.each do |tag| %>
                        <% if tag.tag_type == "Player" %>
                          <% player = Player.find_by_id(tag.tag_id) %>
                          <%= link_to player_path(player) do %><span class="tags">@<%= player.name %></span> <% end %>
                        <% elsif tag.tag_type == "User" %>
                          <% user = User.find_by_id(tag.tag_id) %>
                          <%= link_to user_path(user) do %><span class="tags">@<%= user.name %></span> <% end %>
                          
                        <% end %>
                      <% end %>
                    </p>
                    <ul class="list-inline list-unstyled">
                       <li><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at.to_date.strftime('%a %b %d') %> </span></li>
                       <li>|</li>
                       <span class="post_comment" id="<%= "#{post.id}" %>"><i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %> Comments</span>
                    </ul>
                 </div>
              </div>
              <div class="comments_section" id="<%= "comments_#{post.id}" %>">
                <%= render :partial => "/posts/comments", locals: {post: post} %>
              </div>
            <% end %>
            <hr /> 
          <% end %>
       </div>
      </div>
      <!--/span-->
      <%= render "/layouts/right_panel" %>
      <!--/span-->
   </div>
   <!--/row-->
</div>

