<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-6 col-md-6">
        <%= render "/layouts/alerts" %>
         <div class="jumbotron custum-jumbotron">
            <h1 class="center">Users</h1>
            <hr />
            <% @users.each do |player| %>
              <div class="media">
                 <a class="pull-left" href="#">
                  <% if player.image.present? %>
                    <%= image_tag player.image.url(:profile),class: "media-object" %>
                  <% else %>
                    <%= image_tag "index.jpg",class: "media-object" %>
                  <% end %>
                 </a>
                 <div class="media-body">
                    <h4 class="media-heading"><%= link_to player.name,user_path(player.id) %>
                    <% if current_user.present? %>
                      <% if current_user.following?(player) %>
                        <span class="pull-right"><%= link_to "UnFollow",remove_follow_path(player.id) %></span></h4>
                      <% else %>
                        <span class="pull-right"><%= link_to "Follow",add_follow_path(player.id) %></span></h4>
                      <% end %>
                    <% end %>
                 </div>
              </div>
              <hr />
            <% end %>
         </div>
      </div>
      <!--/span-->
      <%= render "/layouts/right_panel" %>
      <!--/span-->
   </div>
   <!--/row-->
</div>

