<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-6 col-md-6">
        <%= render "/layouts/alerts" %>
        <div class="jumbotron custum-jumbotron">
          <div class="media">
             <a class="media-left" href="#">
                <% if @user.image.present? %>
                  <%= image_tag @user.image.url(:profile),class: "media-object" %>
                <% else %>
                  <%= image_tag "index.jpeg",class: "media-object" %>
                <% end %>
             </a>
             <div class="media-body pt15">
                <h3 class="media-heading"><%= @user.name %></h3>
                <p><%= link_to "Follow",add_follow_path(@user.id),:class=>"btn btn-success" %></a></p>
             </div>
          </div>
          <br />

          <% if current_user.present? %>
            
            <% post = Post.new %>
            <%= form_with(model: post, local: true) do |f| %>
              <fieldset style="text-align: center;">
                <!-- <div class="form-group">
                  <%= f.text_field :title, autofocus: true,:placeholder=>"Title",:class=>"form-control" %>
                </div> -->
                <div class="form-group">
                  <%= f.text_area :description,:placeholder=>"Description",:class=>"form-control",:minlength=>10,maxlength: 250 %>
                </div>
                <!-- div class="form-group">
                  <%= f.file_field :image %>
                </div> -->
                <%= f.hidden_field :user_id,:value=>current_user.id %>
                <%= f.hidden_field :another_user_id,:value=>@user.id %>
                <%= f.submit "Post",:class=>"btn btn-primary btn-sign-in" %>
              </fieldset>
            <% end %>
          <% end %>
  
          <hr>
          <br />
          
          <div class="panel panel-info">
             <div class="panel-heading">
                <h3 class="panel-title">Posts</h3>
             </div>
          </div>

          <% Post.where('another_user_id =? and spam !=?',@user.id,true).order('created_at desc').all.each do |post| %>
            <div class="media">
               <a class="pull-left" href="#">
                <% if post.image.present? %>
                  <%= image_tag post.image.url(:profile),class: "media-object" %>
                <% else %>
                  <%= image_tag "post.png",class: "media-object" %>
                <% end %>
               </a>
               <div class="media-body">
                  <h4 class="media-heading"><%#= post.title %><span class="pull-right">By <%= link_to post.user.name,post_path(post) %></span></h4>
                  <p><%= post.description %> <% post.tags.each do |tag| %> <span class="tags"><%= tag.title %></span> <% end %> <%#= link_to "Read More",post_path(post),:class=>"btn btn-info btn-xs" %>
                  </p>
                  <ul class="list-inline list-unstyled">
                     <li><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at.to_date.strftime('%a %b %d') %> </span></li>
                     <li>|</li>
                     <span class="post_comment" id="<%= "#{post.id}" %>"><i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %> Comments</span>
                  </ul>
               </div>
            </div>
            <div class="comments_section" id="<%= "comments_#{post.id}" %>">
              <%= render :partial => "/posts/comments", locals: {post: post} %>
            </div>
            <hr /> 
          <% end %>
       </div>
      </div>
      <!--/span-->
      <%= render "/layouts/right_panel" %>
      <!--/span-->
   </div>
   <!--/row-->
</div>

