<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-8 col-md-8">
        <%= render "/layouts/alerts" %>
         <div class="jumbotron custum-jumbotron">
            <h1 class="center">Players</h1>
            <hr />
            <% @players.each do |player| %>
              <div class="media">
                 <a class="pull-left" href="#">
                  <% if player.image.present? %>
                    <%= image_tag player.image.url(:small),class: "media-object" %>
                  <% else %>
                    <%= image_tag "index.jpeg",class: "media-object" %>
                  <% end %>
                 </a>
                 <div class="media-body">
                    <h4 class="media-heading"><%= link_to player.name,player_path(player) %> (<%= player.username %>)
                    <% if current_user.present? %>
                      <% if current_user.following?(player) %>
                        <span class="pull-right"><%= link_to "Remove from Roster",remove_roaster_path(player.id) %></span></h4>
                      <% else %>
                        <span class="pull-right"><%= link_to "Add to Roster",add_roaster_path(player.id) %></span></h4>
                      <% end %>
                    <% end %>
                    <p><%= player.about %></p>
                 </div>
              </div>
              <hr />
            <% end %>
         </div>
      </div>
      <!--/span-->
      <%= render "/layouts/right_panel" %>
      <!--/span-->
   </div>
   <!--/row-->
</div>

