<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-6 col-md-6">
        <%= render "/layouts/alerts" %>
       <div class="jumbotron custum-jumbotron">
          <div class="media">
            <a class="pull-left" href="#">
            <% if @player.image.present? %>
              <%= image_tag @player.image.url(:profile),class: "media-object" %>
            <% else %>
              <%= image_tag "index.jpeg",class: "media-object" %>
            <% end %>
           </a>
           <div class="media-body">
              <h4 class="media-heading"><%= link_to @player.name,player_path(@player) %>
              <% if current_user.present? %>
                <% if current_user.following?(@player) %>
                  <span class="pull-right"><%= link_to "Remove from Roster",remove_roaster_path(@player.id),:class=>"btn btn-success" %></span></h4>
                <% else %>
                  <span class="pull-right"><%= link_to "Add to Roster",add_roaster_path(@player.id),:class=>"btn btn-success" %></span></h4>
                <% end %>
              <% end %>
              <p><%= @player.about %></p>
           </div>
          </div>
          <div class="clearfix"></div>
          <br>
          <% if current_user.present? %>
            
            <% post = Post.new %>
            <%= form_with(model: post, local: true) do |f| %>
              <fieldset style="text-align: center;">
                <!-- <div class="form-group">
                  <%= f.text_field :title, autofocus: true,:placeholder=>"Title",:class=>"form-control" %>
                </div> -->
                <div class="form-group">
                  <%= f.text_area :description,:placeholder=>"Description",:class=>"form-control",:minlength=>10,maxlength: 250 %>
                </div>
                <!-- <div class="form-group">
                  <%= f.file_field :image %>
                </div> -->
                <%= f.hidden_field :user_id,:value=>current_user.id %>
                <%= f.hidden_field :player_id,:value=>@player.id %>
                <%= f.submit "Post",:class=>"btn btn-primary btn-sign-in" %>
              </fieldset>
            <% end %>
          <% end %>
  
          <hr>
          
          <!--Testimonial Section-->
          <% @player.posts.where('spam !=?',true).order('created_at desc').each do |post| %>
	          <div class="media">
               <a class="pull-left" href="#">
                <% if post.image.present? %>
                  <%= image_tag post.image.url(:profile),class: "media-object" %>
                <% else %>
                  <%= image_tag "post.png",class: "media-object" %>
                <% end %>
               </a>
               <div class="media-body">
                  <h4 class="media-heading"><%#= post.title %><span class="pull-right">By <%= link_to post.user.name,post_path(post) %></span></h4>
                  <p><%= post.description %> <%#= link_to "Read More",post_path(post),:class=>"btn btn-info btn-xs" %>
                  </p>
                  <ul class="list-inline list-unstyled">
                     <li><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at.to_date.strftime('%a %b %d') %> </span></li>
                     <li>|</li>
                     <span class="post_comment" id="<%= "#{post.id}" %>"><i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %> Comments</span>
                  </ul>
               </div>
            </div>
            <div class="comments_section" id="<%= "comments_#{post.id}" %>">
              <%= render :partial => "/posts/comments", locals: {post: post} %>
            </div>
            <hr />
          <% end %>
          
       </div>
      </div>
      <!--/span-->
      <%= render "/layouts/right_panel" %>
      <!--/span-->
   </div>
   <!--/row-->
</div>

