<div class="container-fluid">
   <div class="row">
      <%= render "/layouts/roaster" %>
      <!--/span-->
      <div class="col-sm-6 col-md-6">
        <%= render "/layouts/alerts" %>
       <div class="jumbotron custum-jumbotron">
          
          <% if current_user.present? %>
            <h1 class="center">Create Post</h1>
            
            <% post = Post.new %>
            <%= form_with(model: post, local: true) do |f| %>
              <fieldset style="text-align: center;">
                <div class="form-group">
                  <%= f.text_field :title, autofocus: true,:placeholder=>"Title",:class=>"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.text_area :description,:placeholder=>"Description",:class=>"form-control",:minlength=>10,maxlength: 250 %>
                </div>
                <div class="form-group">
                  <%= f.file_field :image %>
                </div>
                <%= f.hidden_field :user_id,:value=>current_user.id %>
                <%= f.hidden_field :user_id,:value=>@player.id %>
                <%= f.submit "Create",:class=>"btn btn-primary btn-sign-in" %>
              </fieldset>
            <% end %>
          <% end %>
  
          <hr>
          <div class="media">
            <a class="pull-left" href="#">
            <% if @player.image.present? %>
              <%= image_tag @player.image.url(:profile),class: "media-object" %>
            <% else %>
              <%= image_tag "index.jpeg",class: "media-object" %>
            <% end %>
           </a>
           <div class="media-body">
              <h4 class="media-heading"><%= link_to @player.name,player_path(@player) %>
              <span class="pull-right"><%= link_to "Add to Roaster",add_roaster_path(@player.id),:class=>"btn btn-success" %></span></h4>
              <p><%= @player.about %></p>
           </div>
          </div>
          <div class="clearfix"></div>

          <!--Testimonial Section-->
          <% @player.posts.where('spam !=?',true).each do |post| %>
	          <div class="fb-testimonial">
	             <div class="fb-testimonial-inner">
	                <div class="fb-profile">
	                	<% if post.image.present? %>
	                    <%= image_tag post.image.url(:profile),class: "facebook-thumb" %>
	                  <% else %>
	                    <%= image_tag "post.png",class: "facebook-thumb" %>
	                  <% end %>
	        
	                   <p class="facebook-name"><%= post.player.name %> <i class="fa fa-caret-right"></i> <%= link_to post.user.name,user_path(post.user) %> <br><span class="facebook-date"><a href=""><%= post.created_at.to_date.strftime('%a %b %d') %></a> · <i class="fa fa-globe"></i></span></p>
	                </div>
	                <div class="fb-testimonial-copy">
	                   <p><%= post.description %>
	                   </p>
	                </div>
	             </div>
	          </div>
	          <hr />
          <% end %>
          
       </div>
      </div>
      <!--/span-->
      <div class="col-sm-3 col-md-3">
         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title">Who  to follow</h3>
            </div>
            <div class="panel-body">
               <ul class="nav">
                  <% User.last(5).each do |user| %>
                    <li class=""><%= link_to user.name,user_path(user.id) %></li>
                  <% end %>
               </ul>
            </div>
         </div>
         <!-- panel -->
         <div class="panel panel-primary">
            <div class="panel-body">
               <ul class="nav ">
                  <li><a href="#">&copy; 2018 Nampit</a>
                  </li>
                  <li><a href="#">About</a>
                  </li>
                  <li><a href="#">Help</a>
                  </li>
                  <li><a href="#">Terms</a>
                  </li>
                  <li><a href="#">Privacy Policy</a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- panel -->
         <!--/sidebar-nav-fixed -->
      </div>
      <!--/span-->
   </div>
   <!--/row-->
</div>

