<div class="container-fluid">
   <div class="row">
      <div class="col-sm-3 col-md-3">
        <% if current_user.present? %>
         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title">My Roster</h3>
            </div>
            <div class="panel-body">
               <ul class="nav ">
                  <% current_user.follows_by_type('Player').each do |roaster| %>
                    <% player = Player.find(roaster.followable_id) %>
                    <li><a href="#"><%= player.name %></a></li>
                  <% end %>
               </ul>
            </div>
         </div>
        <% end %>
         <!-- panel -->
      </div>
      <!--/span-->
      <div class="col-sm-6 col-md-6">
        <div class="jumbotron custum-jumbotron">
            <br />
            <div class="media">
               <a class="media-left" href="#">
                  <% if @post.user.image.present? %>
                    <%= image_tag @post.user.image.url(:profile),class: "media-object" %>
                  <% else %>
                    <%= image_tag "index.jpg",class: "media-object" %>
                  <% end %>
               </a>
               <div class="media-body pt15">
                  <h3 class="media-heading"><%= link_to @post.user.name,user_path(@post.user) %>
                    <% if @post.player.present? %>
                      <i class="fa fa-caret-right"></i> <%= link_to @post.player.name,player_path(@post.player) %>
                    <% end %>
                  </h3>
                  <p><%= link_to "Follow",add_follow_path(@post.user.id),:class=>"btn btn-success" %>&nbsp; <a href="" class="btn btn-primary">Message</a></p>
               </div>
            </div>
            <br />
            <div class="panel panel-info">
               <div class="panel-heading">
                  <h3 class="panel-title"><%= @post.title %></h3>
               </div>
               <div class="panel-body">
                  <p><%= @post.description %>
                  </p>
               </div>
            </div>
            <% if current_user.present? %>
              <div class="jumbotron custum-jumbotron">
                <h1 class="center">Create Comment</h1>
                <% comment = Comment.new %>
                <%= form_with(model: comment, local: true) do |f| %>
                  <fieldset style="text-align: center;">
                    <div class="form-group">
                      <%= f.text_area :description,:placeholder=>"Description",:class=>"form-control",:minlength=>10,maxlength: 250 %>
                    </div>
                    <%= f.hidden_field :user_id,:value=>current_user.id %>
                    <%= f.hidden_field :post_id,:value=>@post.id %>
                    <%= f.submit "Create",:class=>"btn btn-primary btn-sign-in" %>
                  </fieldset>
                <% end %>
              </div>
              <hr>
            <% end %>
            <% @post.comments.each do |comment| %>
              <div class="comments">
                <div class="comment-wrap">
                  <div class="photo">
                    <% if @post.user.image.present? %>
                      <div class="avatar" style="background-image: url('<%= @post.user.image.url(:profile) %>')"></div>
                    <% else %>
                      <div class="avatar" style="background-image: url('index.jpg')"></div>
                    <% end %>
                  </div>

                  <div class="comment-block">
                     <h4><%= comment.user.name %><span class="pull-right"><small><%= comment.created_at.to_date.strftime('%a, %b %d') %></small></span></h4>
                     <p class="comment-text"><%= comment.description %>
                     </p>
                     <div class="bottom-comment">
                        <ul class="comment-actions">
                           <li class="complain">Like</li>
                           <li class="reply">Report</li>
                           <li class="reply">Comment</li>
                        </ul>
                     </div>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
      <!--/span-->
      <%= render "/layouts/right_panel" %>
      <!--/span-->
   </div>
   <!--/row-->
</div>