<!DOCTYPE html>
<html>
  <head>
    <title>NAMPIT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !user_signed_in? %>
      <style>
          body { 
              background:  linear-gradient(
                  rgba(0,0,0, 0.3),
                  rgba(0,0,0, 0.3)
                  ), url("/nampit_bg.jpg") no-repeat center center fixed
             
             ; -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
          }
          h1 {
              color: white;
              font-weight: bold;
          }
          h2 {
              color: white;
              font-weight: bold;
          }
          .container-index {
              margin-right: 15%;
              margin-left: 15%;
          }
          .text {
              color: white;
              font-weight: 400;
              font-size: 125%;
          }
          .input {
              color: black;
          }
          .footer-links {
              text-align: center;
              color: white;
              margin-top: 5%;
              font-size: 85%;
          }
          .log-in {
              float: right;
              color: white;
              width: 300px;
              height: 200px;
              margin-top: 7.5%;
              background:  linear-gradient(
                  rgba(0,0,0, 0.3),
                  rgba(0,0,0, 0.3)
                  )
          }
            .sign-up {
              float: right;
              color: white;
              width: 300px;
              height: 300px;
              background:  linear-gradient(
                  rgba(0,0,0, 0),
                  rgba(0,0,0, 0)
                  )
          }
      </style>
      <div class="container-index row"> 
        <div class="col-sm-6">
          <h1>Welcome to NAMPIT.</h1>
          <p class="text">
            NAMPIT - Notes About My Players' Info Today <br>
            <br>
            The Social Network for Fantasy Sports. <br>
            Connect with friends & follow your favorite players. 
            Share roster ideas. See who's trending. 
            Collaborate on who to start, bench, and trade. 
          </p>
        </div>
        <div class="col-sm-6">
            <div class="log-in panel">
              <h2>Login</h2>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= render "/layouts/alerts" %>

                <div class="field">
                  <%= f.label :email %><br />
                  <div class="input">
                    <%= f.email_field :email, autofocus: true %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :password %><br />
                  <div class="input">
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                </div>

                <div class="actions">
                  <%= f.submit "Log in", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
            
            <div class="sign-up panel">
              <h2>Sign up for free</h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :id => "sign-up" }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :name %><br />
                  <div class="input">
                    <%= f.text_field :name, autofocus: true,:required=>true %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :user_id %><br />
                  <div class="input">
                    <%= f.text_field :user_id,:required=>true%>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :email %><br />
                  <div class="input">
                    <%= f.email_field :email,:id=>"sign-up-email",:required=>true %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <div class="input">
                    <%= f.password_field :password, autocomplete: "off",:id=>"sign-up-password",:required=>true %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <div class="input">
                    <%= f.password_field :password_confirmation, autocomplete: "off",:required=>true %>
                  </div>
                </div>

                <div class="field">
                  <div class="input">
                    <%= f.check_box :terms_and_conditions,required: true %> <%= link_to 'Agree with Terms and Conditions',asset_path("privacy-preview-web.jpg"), download: "Terms and Conditions",class: "white" %>
                  </div>
                </div>

                <div class="field">
                  <div class="input">
                    <%= f.check_box :privacy_policy,required: true %> <%= link_to 'Agree with Privacy and Policy',asset_path("terms-preview-web.jpg"), download: "Privacy Policy",class: "white",required: true %>
                  </div>
                </div>

                <div class="actions" style="margin: 20px 0;">
                  <%= f.submit "Sign Up", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
      
        <p class="footer-links" style="margin-top:150px"> About  Help  Terms  Privacy  Advertise  Partner  © 2018 Nampit </p>
      
    <% else %>
      <div class="navbar navbar-fixed-top navbar-default mynav">
           <div class="container">
              <div class="navbar-header"><%= link_to "NAMPIT",root_path,:class=>"navbar-brand" %><a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="glyphicon glyphicon-bar"></span>
                 <span class="glyphicon glyphicon-bar"></span>
                 <span class="glyphicon glyphicon-bar"></span>
                 </a>
              </div>
              <div class="navbar-collapse">
                 <ul class="nav navbar-nav">
                    <li class="font_18"><%= link_to "Players",players_path %></li>
                    <li class="font_18"><%= link_to "Users",users_path %></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right links">
                    <% if user_signed_in? %>
                      <% unread = TagUser.where('tag_id =? and tag_type =? and read=?',"#{current_user.id}","User",false).count %>
                      <%= link_to "Notifications (#{unread})", notifications_path,:class=>"btn btn-sm btn-primary"%>
                      <%= link_to "Edit Profile", edit_user_registration_path,:class=>"btn btn-sm btn-primary"%>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete,:class=>"btn btn-sm btn-primary"%>
                      <%#= link_to "My Posts",my_posts_path,:class=>"btn btn-sm btn-success" %>
                    <% else %>
                      <%= link_to "Log in", new_user_session_path,:class=>"btn btn-sm btn-primary" %>
                      <%= link_to "Sign up", new_user_registration_path,:class=>"btn btn-sm btn-primary" %>
                    <% end %>
                 </ul>

                  <%= form_tag("/search", :method => :get,:class=>"navbar-form navbar-right" ) do %>
                    <div class="form-group">
                      <%= text_field_tag :query,@query,:placeholder=>"Search Nampit",:class=>"form-control" %>
                    </div>
                    
                    <%= submit_tag("Search",:class=>"btn btn-primary") %>
                  <% end %>
              </div>
              <!--/.navbar-collapse -->
           </div>
      </div>
      <section id="breaking-news">
         <div class="container">
            <div class="sitewidth">
               <div class="br-title">Trending Now:</div>
               <p class="marquee">
                  <ul>
                    <% Player.joins(:posts).select("players.*, count(posts.id) as scount").group("players.id").order("scount DESC").last(9).each do |player| %>
                      <%# user_name = User.find_by_id(post.user_id).name %>
                      <% player_name = Player.find_by_id(player.id).name %>
                      <li style="margin-left: 15px;margin-right: 15px"><%= link_to "#{player_name.titleize}",player_path(player)  %></li>
                    <% end %>
                  </ul>
               </p>
            </div>
         </div>
      </section>
      <%= yield %>
    <% end %>
  </body>
</html>
